*{
    background-color: rgba(78, 150, 192, 0.664);
}

.cabecalho{
    background-color: rgba(0, 0, 255, 0.849);
    text-align: center;
    width: auto;
    height: 200px;
    margin: 0;
    position: relative;

}

h1 {

    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}